body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #EFF6FF;
  }
 
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #363B47;
    background-color: #1E1E1E;
    width: 100%;
    height: 4rem;
  } 
  nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-left: 103.95px;
  }
  .menu {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    list-style: none;
  }
  .icones {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-right: 20px;
  }

  ul li a {
    text-decoration: none;
    padding: 1px;
    background-color: #1E1E1E;
    color: #989EA6;
    border-radius: 1px;
  }
  .mes-ano {
    display: flex;
    justify-content: space-around;
  }
  .seta {
    width: 2.5rem;
    display: flex;
    justify-content: space-between;
  }
  :right{
    
  }
  /* Calendario */
  .calendar {
    width: 258px;
    height: 276px;
    padding: 1px;
    margin-top: 128px;
    margin-left: 17px;
    box-shadow: 5px 5px 10px #ebe9ff ;
    border-radius: 10px;
  }
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  caption {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
  }
  th {
      font-size: 11px;
  }
  td{
    width: calc(100% / 7);
    height: 40px; 
    border: none;
    outline: none;
    font-size: 14px;
  }  
  .circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* calendario */
  .proximoEv{
    font: normal 16px Arial;
    margin-top: 46px;
    margin-left: 26px;
  }
  .container2{
    font: normal 14px Arial;
    width: 190px;
    height: 62px;
    padding: 10px;
    margin-left: 42px;
    border-bottom: 1px solid #FAA831;
  }
  .container3{
    font: normal 16px Arial;
    margin-top: 46px;
    margin-left: 26px;
  }
 
  