* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
a {
  color: black;
}
a:hover {
  color: white;
}
body {
  background-color: #EFF6FF;
}
.container-coluna-esquerda {
  display: block;
}
.layout-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87.5vh;
}
/* MENU STYLE */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #363B47;
    background-color: #1E1E1E;
    width: 100%;
    height: 4rem;
  } 
  nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-left: 20px;
  }
  .menu {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    list-style: none;
  }
  .icones {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-right: 20px;
  }

  ul li a {
    text-decoration: none;
    padding: 1px;
    background-color: #1E1E1E;
    color: #989EA6;
    border-radius: 1px;
  }
  .componente-menu {
    width: 100%;
    height: 100%;
  }
  .icone-menu {
    display: none;
  }
  /* Subtitle */
  .subtitle {
    width: 29.5%;
    display: flex;
    justify-content: end;
    font-weight: 800;
    font-size: 18px;
  }
  .subtitle h2 {
    color: #333333;
    font-weight: 700;
    font-size: 18px;
  }
   /* Calendario */
   .container-calendario {
    height: 20rem;
   }
   .calendar {
    width: 258px;
    height: 276px;
    padding: 1px;
    box-shadow: 5px 5px 10px rgb(199, 199, 199) ;
    border-radius: 10px;
  }
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  caption {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
  }
  th {
      font-size: 11px;
  }
  td{
    width: calc(100% / 7);
    height: 40px; 
    border: none;
    outline: none;
    font-size: 14px;
  }  
  .circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mes-ano {
    display: flex;
    justify-content: space-around;
  }
  .seta {
    width: 2.5rem;
    display: flex;
    justify-content: space-between;
  }
  /* containers */
  .conteudo-principal {
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .container-cursos {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .container-curso-pai {
    width: 18rem;
    height: 15rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 17px;
    padding: 10px;
  }
  .container-btn{
    display: flex;
    justify-content: end;
  }
  .btn-acessar {
    margin-top: 10px;
    width: 30%;
    background-color: white;
    border: none;
    border: 1px solid rgba(54,59,71,0.6);
    padding: 8px;
    border-radius: 16px;
    font-weight: 500;
  }
  .btn-acessar:hover {
    cursor: pointer;
    background-color: #363B47;
    color: white;
  }
  /* cores background */
  .container-bg-color {
    height: 10rem;
    border-radius: 17px;
    padding: 10px;
  }
  .bg-green {
    background-color: #DDFFBB;
    
  }
  .bg-purple {
    background-color: #B2A4FF;
  }
  .bg-green-clean {
    background-color: #B9F3E4;
  }
  .bg-blue {
    background-color: #B9F3FC;
  }
  .bg-red {
    background-color: #FD8A8A;
  }
  .bg-grey {
    background-color: #AFC6D7;
  }
  .container-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .txt-materia {
    font-size: 16px;
    font-weight: 700;
    color: #363B47;
  }
  .info-curso {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  .estilo-button {
    width: 26%;
    border: 1.5px solid rgba(54,59,71,0.6);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
  .text-info-curso {
    font-size: 10px;
    font-weight: 600;
    color: #363B47;
  }
  .txt-professor {
    color: #363B47;
    font-size: 14px;
  }
  .container-eventos {
    width: 80%;
  }
  /* footer */
  .footer-flex {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    padding: 5px;
  }
  .txt-footer {
    font-size: 12px;
  }
  .bg-footer-color {
    display: none;
  }
  /* Checkbox */
  .container-checkbox {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  .txt {
    font-size: 15px;
  }
  .c-label-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
/* Conversas */
.container-conversas {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* icone seta estilo */
.rotacionado {
  transform: rotate(90deg);
}
.container-visivel {
  display: flex;
}
/* media queries cursos */
@media (min-width: 820px) and (max-width:1024px) {
  .container-calendario {
    display: none;
  }
  .container-curso-pai {
    width: 25rem;
  }
  .nav-menu {
    display: none;
  }
  .icones {
    display: none;
  }
  .icone-menu {
    margin-right: 20px;
    display: block;
  }
   /* footer */
   .footer-flex {
    display: none;
  }
  .icone-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bg-menu-mobile {
    padding: 10px;
    border-radius: 10px;
    background-color:#FAA831 ;
    display: flex;
    justify-content: space-around;
  }
  .menu-mobile-txt {
    font-size: 12px;
    color: #323232;
  }
  .bg-footer-color {
    display: block;
    background-color: #1E1E1E;
    padding: 10px;
  }
}
@media (min-width: 360px) and (max-width: 819px){
  .container-calendario {
    display: none;
  }
  .subtitle {
    display: none;
  }
  /* container cursos */
  .txt-materia {
    font-size: 14px;
  }
  .txt-professor {
    font-size: 12px;
  }
  .info-curso {
    border-radius: 25px;
    margin-top: 5px;
    gap: 5px;
  }
  .container-btn{
    display: none;
  }
  main {
    overflow: scroll;
  }
  .container-curso-pai {
    border-radius: 25px;
    width: 25rem;
    height: 6rem;
  }
  .container-bg-color {
    height: 4.8rem;
  }
  .nav-menu {
    display: none;
  }
  .icones {
    display: none;
  }
  .icone-menu {
    margin-right: 20px;
    display: block;
  }
  .container-coluna-esquerda {
    display: none;
  }
  /* footer */
  .footer-flex {
    display: none;
  }
  .icone-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bg-menu-mobile {
    padding: 10px;
    border-radius: 10px;
    background-color:#FAA831 ;
    display: flex;
    justify-content: space-around;
  }
  .menu-mobile-txt {
    font-size: 12px;
    color: #323232;
  }
  .bg-footer-color {
    display: block;
    /* background-color: #1E1E1E; */
    padding: 10px;
  }
  /* descricao curso */
  .container-info-descricao {
    min-width: 10rem;
    flex-direction: row;
    display: flex;
    height: fit-content;
  }
  .img-desc {
    width: 7rem;
  }
  
}