* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body {
  background-color: #EFF6FF;
}
/* MENU STYLE */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #363B47;
    background-color: #1E1E1E;
    width: 100%;
    height: 4rem;
  } 
  nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-left: 20px;
  }
  .menu {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    list-style: none;
  }
  .icones {
    display: flex;
    width: 10%;
    justify-content: space-between;
    margin-right: 20px;
  }

  ul li a {
    text-decoration: none;
    padding: 1px;
    background-color: #1E1E1E;
    color: #989EA6;
    border-radius: 1px;
  }
  .componente-menu {
    width: 100%;
  }
  /* Subtitle */
  .subtitle {
    width: 20%;
    display: flex;
    justify-content: end;
    font-weight: 800;
    font-size: 18px;
  }
  .subtitle h2 {
    color: #333333;
    font-weight: 700;
    font-size: 18px;
  }
  /* containers */
  .conteudo-principal {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .container-calendario {
    width: 10%;
  }
  .container-cursos {
    width: 82.6%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .container-curso-pai {
    width: 20rem;
    height: 15rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 17px;
    padding: 10px;
  }
  .container-btn{
    display: flex;
    justify-content: end;
  }
  .btn-acessar {
    margin-top: 10px;
    width: 30%;
    background-color: white;
    border: none;
    border: 1px solid rgba(54,59,71,0.6);
    padding: 8px;
    border-radius: 16px;
    font-weight: 500;
  }
  .btn-acessar:hover {
    cursor: pointer;
    background-color: #363B47;
    color: white;
  }
  /* cores background */
  .container-bg-color {
    height: 10rem;
    border-radius: 17px;
    padding: 10px;
  }
  .bg-green {
    background-color: #DDFFBB;
    
  }
  .bg-purple {
    background-color: #B2A4FF;
  }
  .bg-green-clean {
    background-color: #B9F3E4;
  }
  .bg-blue {
    background-color: #B9F3FC;
  }
  .bg-red {
    background-color: #FD8A8A;
  }
  .bg-grey {
    background-color: #AFC6D7;
  }
  .container-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .txt-materia {
    font-size: 16px;
    font-weight: 700;
    color: #363B47;
  }
  .info-curso {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  .estilo-button {
    width: 26%;
    border: 1.5px solid rgba(54,59,71,0.6);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
  .text-info-curso {
    font-size: 10px;
    font-weight: 600;
    color: #363B47;
  }
  .txt-professor {
    color: #363B47;
    font-size: 14px;
  }
  /* footer */
  .footer-flex {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    padding: 5px;
  }
  .txt-footer {
    font-size: 12px;
  }